/* Ajuste del botón */
.boton {
    margin-bottom: 20px; /* Espacio más grande entre el botón y la tabla */
    text-align: center; /* Centrar el botón */
}
/* Ajustes de la tabla */
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio superior opcional */
    margin-left: 200px;
    margin-right: 200px;
}



.mat-elevation-z8 {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombras suaves para dar un efecto de elevación */
}

/* Ajustes del paginador*/
.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo del botón de agregar cliente */
.bg-body-tertiary {
    background-color: #6C55F9 !important; /* Color de fondo */
    color: white !important; /* Color del texto */
    padding: 10px 20px; /* Relleno para hacerlo más grande */
    border-radius: 4px; /* Bordes redondeados */
    display: inline-flex;
    align-items: center;
}

.bg-body-tertiary mat-icon {
    margin-left: 8px; /* Espacio entre el icono y el texto */
}

/* Ajustes generales */
table {
    border-spacing: 0 10px; /* Espacio entre las filas para un efecto de separación */
    border-collapse: separate; /* Asegura que el espacio entre filas se aplique correctamente */
}

th, td {
    padding: 5px; /* Relleno en las celdas */
    text-align: left; /* Alineación del texto a la izquierda */
}

th {
    background-color: #f1f1f1; /* Color de fondo para las celdas de encabezado */
    font-weight: bold; /* Texto en negrita para el encabezado */
}

td {
    background-color: white; /* Color de fondo para las celdas de datos */
}


