.spacer {
  flex: 1 1 auto;
}

.example-spacer {
    flex: 1 1 auto;
}

/* ==================================== Usos para navbar*/

/*Padding 10*/
.padding30{
    padding: 30px;
}
/*Quitar subrayado*/
.no-underline {
    text-decoration: none;
}
/*Quitar visitados de los navegadores (que no cambie de color a morado)*/
.no-underline:visited {
    color: inherit;
}
/*Color del navbar*/
.colornavbar{
    background-color: #0079db;
}
/*Color de los links del navbar*/
.colorlinks{
    color: white;
}
a{
  color: white;
}

/* ==================================== Apartado del logo del navbar */
.nav__logo-img {
  width: 1.5rem;
}

.nav__logo {
  color: white;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-medium);
}


/*Set variables to colors*/
:root{
  --white: #ffffff;
  --black: #000000;
  --principal-color: #2ecffb;
  --second-color: #ffffff;
  --third-color: #412B19;
  --fourth-color: #f3f7f7;
}
/* BACKGROUND COLOR FOR NAVBAR*/

/*STYLES FOR BANNER*/
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px;
  background-color: wheat;
  color: #000000;
  font-weight: bold;
}

/*STYLES FOR LEFT SIDE BANNER*/
.banner-left-side{
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*SPACING FOR TEXT AND BUTTONS*/
.text-button-banner{
  margin: 20%;
}

/*JUSTIFYING CONTENT FOR RIGHT SIDE*/
.banner-right-side{
  display: flex;
  width: 50%;
  
}

/*STYLES FOR BUTTONS OF BANNER*/
.btn-build{
  background-color: rgb(237, 170, 46);
  padding: 13px 23px;
  color: var(--fourth-color);
  border: none;
  border-radius: 15px;
  margin: 10px;
  
}

.btn-build:hover{
  background-color: rgb(237, 170, 46);
}

.principal-banner{
  border-radius: 10px;
}

/*STYLES FOR ABOUT US SECTION---------------------------*/
.about-us {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.about-us-header {
  background-color: wheat;
  text-align: center;
  padding: 1.25rem 0;
  color: var(--third-color);
}

.about-us-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: wheat;
  color: var(--third-color);
  padding-bottom: 1.25rem;
}

.about-us-image {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 1.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-us-image img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 50vh;
  border-radius: 10px;
}


.about-us-text {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 1.25rem;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*STYLES FOR ABOUT SECTION---------------------------*/
.about {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.about-header {
  background-color: var(--second-color);
  text-align: center;
  padding: 1.25rem 0;
  color: var(--third-color);
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--second-color);
  color: var(--third-color);
  padding-bottom: 1.25rem;
}

.about-image {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 1.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-image img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 50vh;
  border-radius: 10px;
}

.about-text {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 1.25rem;
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



/*SERVICIOS------------------*/
.wrap-servicios-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .item-servicios-section{
    padding: 1rem;
  }
  
  .item-servicios-section img{
    width: 300px;
    height: 225px;
  }
  .section-servicios-section{
    background-color: #ffffff;
    text-align: center;
    padding: 1.25rem 0;
  }
  
    /** Desarrolladores **/
.section-participants-section{
        background-color: var(--white);
        text-align: center;
        padding: 1.25rem 0;
}

/*CONTACTO------------------*/
/* STYLES FOR CONTACT WRAPPER */
.contact-wrapper{
  box-shadow: 0 0 20px 0 white;
  
}
.contact-wrapper > * {
  padding: 1em;
}

@media (max-width: 768px) {
  .mv-block-content, .mv-block-img {
      width: 100%;
      order: 0; 
  }
}


.content-form{
  box-sizing: border-box;
  background: wheat;
  padding: 0 1.5em;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;

}
.logo-contact{
  text-align: center;
  font-size: 2em;
}

.contact-form form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form .block{
  grid-column: 1/3;
}
.contact-form form p{
  margin: 0;
  padding: 1em;
}
.contact-form form {
  margin: 0;
  padding: 1em;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border:#F7F4F3;
  background: white;
  border-radius: 5px;
}
.contact-form form button{
  background-color: rgb(237, 170, 46);
  border: 0;
  color: #f3f7f7;
}
.contact-image img{
  width: 100%;
  height: 100%;
}

/* STYLES FOR RESPONSIVE DESIGN */
@media(min-width: 1000px){
  .contact-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}

/* FOOTER STYLES ---------------------------*/

.footer{
  background-color: rgb(237, 170, 46);
  color: #f3f7f7;
  text-align: center;
  padding: 1rem;
}









