.bg-body-tertiary {
  background-color: #6C55F9 !important; /* Este es el código de color hexadecimal para el celeste */
}

.navbar-brand {
  color: #000000 !important;  /*COLOR DE LA MARCA*/
}

.nav-item {
  margin: 10px;  /* Ajusta este valor según tus necesidades */
  padding: 10px; /* Ajusta este valor según tus necesidades */
}

.nav-item:visited {
  color: inherit; /* Esto hará que el color del enlace visitado sea el mismo que el color del enlace no visitado */
}


/* ==================================== getbootstrap*/


.spacer {
  flex: 1 1 auto;
}

.example-spacer {
    flex: 1 1 auto;
}

/* ==================================== Usos para navbar*/

/*Padding 10*/
.padding30{
    padding: 30px;
}
/*Quitar subrayado*/
.no-underline {
    text-decoration: none;
}
/*Quitar visitados de los navegadores (que no cambie de color a morado)*/
.no-underline:visited {
    color: inherit;
}
/*Color del navbar*/
.colornavbar{
    background-color: #0079db;
}
/*Color de los links del navbar*/
.colorlinks{
    color: white;
}
a{
  color: white;
}

/* ==================================== Apartado del logo del navbar */
.nav__logo-img {
  width: 1.5rem;
}

.nav__logo {
  color: white;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-medium);
}