<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-table">

    <!-- Nombre Completo Column -->
    <ng-container matColumnDef="nombrecompleto">
      <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
      <td mat-cell *matCellDef="let element"> {{element.nombrecompleto}} </td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha | date}} </td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <!-- Subtotal Column -->
    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef> Subtotal </th>
      <td mat-cell *matCellDef="let element"> {{element.subtotal}} </td>
    </ng-container>

    <!-- Tasa Text Column -->
    <ng-container matColumnDef="tasa_text">
      <th mat-header-cell *matHeaderCellDef> Tasa Text </th>
      <td mat-cell *matCellDef="let element"> {{element.tasa_text}} </td>
    </ng-container>

    <!-- Tasa Num Column -->
    <ng-container matColumnDef="tasa_num">
      <th mat-header-cell *matHeaderCellDef> Tasa Num </th>
      <td mat-cell *matCellDef="let element"> {{element.tasa_num}} </td>
    </ng-container>

    <!-- Cuotas Column -->
    <ng-container matColumnDef="cuotas">
      <th mat-header-cell *matHeaderCellDef> Cuotas </th>
      <td mat-cell *matCellDef="let element"> {{element.cuotas}} </td>
    </ng-container>

    <!-- Capitalizacion Column -->
    <ng-container matColumnDef="capitalizacion">
      <th mat-header-cell *matHeaderCellDef> Capitalizacion </th>
      <td mat-cell *matCellDef="let element"> {{element.capitalizacion}} </td>
    </ng-container>

    <!-- Renta -->
    <ng-container matColumnDef="renta">
      <th mat-header-cell *matHeaderCellDef> Renta </th>
      <td mat-cell *matCellDef="let element"> {{element.renta}} </td>
    </ng-container>

    <!-- Interes -->

    <ng-container matColumnDef="interes">
      <th mat-header-cell *matHeaderCellDef> Interes </th>  
      <td mat-cell *matCellDef="let element"> {{element.interes}} </td>
    </ng-container>

    <!-- totalAPagar -->
    <ng-container matColumnDef="totalAPagar">
      <th mat-header-cell *matHeaderCellDef> Total a Pagar </th>
      <td mat-cell *matCellDef="let element"> {{element.totalAPagar}} </td>
    </ng-container>

    <!-- diasTrasladar -->
    <ng-container matColumnDef="diasTrasladar">
      <th mat-header-cell *matHeaderCellDef> Dias a Trasladar </th>
      <td mat-cell *matCellDef="let element"> {{element.diasTrasladar}} </td>
    </ng-container>

    <!-- valorFuturo -->

    <ng-container matColumnDef="valorFuturo">
      <th mat-header-cell *matHeaderCellDef> Valor Futuro </th>
      <td mat-cell *matCellDef="let element"> {{element.valorFuturo}} </td>
    </ng-container>

    <!-- Intereses -->
    <ng-container matColumnDef="intereses">
      <th mat-header-cell *matHeaderCellDef> Intereses </th>
      <td mat-cell *matCellDef="let element"> {{element.intereses}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
