  <body>  
    <section id="home">
        <div class="page-section " id="about">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 py-3 wow fadeInUp">
                  <h1 class="title-section">¡Bienvenido a Bodega Rosita!</h1>
                  <div class="divider"></div>
                  <p>
                    ¡Gestiona créditos sin complicaciones!
                  </p>
                  <p>Ofrecemos a Bodeguita Rosita una aplicación web diseñada para optimizar la gestión de créditos de sus clientes de manera sencilla y eficiente. Nuestra herramienta proporciona un registro completo de créditos, incluyendo tasas de interés, reportes detallados y control de pagos. Además, permite manejar créditos a corto y largo plazo, intereses moratorios y controlar todas las ventas a crédito en un solo lugar.
              </p>
                  <p>¡Simplifica la gestión de créditos en Bodeguita Rosita con nuestra solución tecnológica!</p>
                  <a class="btn btn-primary mt-3" routerLink="/register">¡REGISTRATE AHORA!</a>
                </div>
                <div class="col-lg-6 py-3 wow fadeInRight">
                  <div class="img-fluid py-3 text-center">
                    <img src="assets/img/homefinanzas.png" alt="Bodega rosita" class="my-imageft">
                  </div>
                </div>
              </div>
            </div> <!-- .container -->
          </div> <!-- .page-section -->
    </section>

    <section id="objetivos">
      <div class="page-section bg-light">
          <div class="container">
              <!-- Objetivos Section -->
              <div class="text-center wow fadeInUp">
                  <h2 class="title-section">Objetivos</h2>
                  <div class="divider mx-auto"></div>
              </div>
              <div class="row">
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                      <div class="features">
                          <div class="header mb-3">
                              <mat-icon class="material-symbols-outlined">emoji_objects</mat-icon>
                          </div>
                          <h5>Optimización Financiera</h5>
                          <p>Mejorar la administración de créditos en pequeños negocios.</p>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                      <div class="features">
                          <div class="header mb-3">
                              <mat-icon class="material-symbols-outlined">emoji_objects</mat-icon>
                          </div>
                          <h5>Gestión Simplificada</h5>
                          <p>Facilitar el manejo de recibos y pagos.</p>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                      <div class="features">
                          <div class="header mb-3">
                              <mat-icon class="material-symbols-outlined">emoji_objects</mat-icon>
                          </div>
                          <h5>Cálculo de Intereses</h5>
                          <p>Aplicar tasas de interés precisas en ventas.</p>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                      <div class="features">
                          <div class="header mb-3">
                              <mat-icon class="material-symbols-outlined">emoji_objects</mat-icon>
                          </div>
                          <h5>Crecimiento Sostenible</h5>
                          <p>Apoyar el desarrollo económico de pequeños establecimientos.</p>
                      </div>
                  </div>
              </div>
  
              <!-- Servicios Section -->
              <div class="text-center wow fadeInUp mt-5">
                  <h2 class="title-section">Servicios</h2>
                  <div class="divider mx-auto"></div>
              </div>
              <div class="row">
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                      <div class="features">
                          <div class="header mb-3">
                              <mat-icon class="material-symbols-outlined">real_estate_agent</mat-icon>
                          </div>
                          <h5>Control de Cuentas</h5>
                          <p>Registro detallado de créditos otorgados.</p>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                      <div class="features">
                          <div class="header mb-3">
                              <mat-icon class="material-symbols-outlined">real_estate_agent</mat-icon>
                          </div>
                          <h5>Tasas Configurables</h5>
                          <p>Ajuste de tasas de interés nominales o efectivas.</p>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                      <div class="features">
                          <div class="header mb-3">
                              <mat-icon class="material-symbols-outlined">real_estate_agent</mat-icon>
                          </div>
                          <h5>Reportes Financieros</h5>
                          <p>Informes detallados de saldos y pagos.</p>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                      <div class="features">
                          <div class="header mb-3">
                              <mat-icon class="material-symbols-outlined">real_estate_agent</mat-icon>
                          </div>
                          <h5>Tipos de Crédito</h5>
                          <p>Opción de pagos inmediatos o mensuales.</p>
                      </div>
                  </div>
              </div>
          </div> <!-- .container -->
      </div> <!-- .page-section -->
    </section>
 


    <section id="quienes-somos">
        <!-- Banner info -->
        <div class="page-section banner-info">
            <div class="wrap bg-image" style="background-image: url();">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-6 py-3 pr-lg-5 wow fadeInUp">
                    <h2 class="title-section">¿Quienes somos? <br> </h2>
                    <div class="divider"></div>
                    <p>Somos estudiantes de la Universidad Peruana de Ciencias Aplicadas, especializados en Ingeniería de Sistemas de Información e Ingeniería de Software. Desarrollamos soluciones tecnológicas innovadoras, combinando teoría y práctica para crear aplicaciones eficientes y de alto impacto.</p>

                    <ul class="theme-list theme-list-light text-white">
                      <li>
                        <div class="h5">Misión</div>
                        <p>Desarrollar y proporcionar a Bodeguita Rosita una herramienta digital intuitiva y eficiente para optimizar la gestión de créditos y cuentas corrientes, fortaleciendo la relación con sus clientes y promoviendo la responsabilidad financiera.
                        </p>
                      </li>
                      <li>
                        <div class="h5">Visión</div>
                        <p>Ser el socio tecnológico clave de Bodeguita Rosita, impulsando su crecimiento y sostenibilidad mediante nuestra solución de gestión financiera, mejorando su eficiencia operativa y contribuyendo a su éxito y desarrollo económico.</p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-6 py-3 wow fadeInRight">
                    <div class="img-fluid text-center">
                      <img src="assets/img/upccampus.png" alt="Campus UPC" class="my-imageft">
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- .wrap -->
        </div> <!-- .page-section -->
    </section>
    

    <section id="desarrolladores">
        <div class="page-section">
            <div class="container">
                <div class="text-center wow fadeInUp">
                    <h2 class="title-section">Desarrolladores</h2>
                    <div class="divider mx-auto"></div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card-service wow fadeInUp">
                      <div class="header">
                        <img src="assets/img/imgERICK.png" alt="Erick Wong" class="my-image">
                      </div>
                      <div class="body">
                        <h2 class="text-secondary">Erick Jesús Wong García</h2>
                        <p>Practicante de Prevención de Fraude en Claro | Ingeniería Sistemas de Información | UPC</p>
                        <a href="https://www.linkedin.com/in/erickwg/" class="btn btn-primary" target="_blank">LinkedIn</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card-service wow fadeInUp">
                      <div class="header">
                        <img src="assets/img/imgCAMILO.png" alt="Camilo Adama" class="my-image">
                      </div>
                      <div class="body">
                        <h2 class="text-secondary">Camilo Adama Alvarado</h2>
                        <p>Desarrollador Guidewire en Softtek | Ingeniería Sistemas de Información | UPC</p>
                        <a href="https://www.linkedin.com/in/camiloadama/" class="btn btn-primary" target="_blank">LinkedIn</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card-service wow fadeInUp">
                      <div class="header">
                        <img src="assets/img/imgJOSE.png" alt="Jose Rivera" class="my-image">
                      </div>
                      <div class="body">
                        <h2 class="text-secondary">Jose Rivera Valdivia</h2>
                        <p>Data Analytics | Data Science | Estudiante de Ingeniería de Sistemas de Información | UPC</p>
                        <a href="https://www.linkedin.com/in/jose-joaqu%C3%ADn-rivera-valdivia-a861042a1/" class="btn btn-primary" target="_blank">LinkedIn</a>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Row 2-->
                <div class="row">
                    <div class="col-lg-4">
                      <div class="card-service wow fadeInUp">
                        <div class="header">
                          <img src="assets/img/imgFLAVIA.png" alt="Flavia Caceres" class="my-image">
                        </div>
                        <div class="body">
                          <h2 class="text-secondary">Flavia Cáceres Bustamante</h2>
                          <p>Estudiante de Ingeniería de Sistemas de Información | UPC</p>
                          <a href="https://www.linkedin.com/in/flavia-c%C3%A1ceres-a01692298/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="card-service wow fadeInUp">
                        <div class="header">
                          <img src="assets/img/imgANDRES.png" alt="Andres Rojas" class="my-image">
                        </div>
                        <div class="body">
                          <h2 class="text-secondary">Andres Rojas Ccama</h2>
                          <p>Desarrollador de Aplicaciones Web | Estudiante de Ingeniería de Software | UPC</p>
                          <a href="https://www.linkedin.com/in/andres-rojas-553848285/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="card-service wow fadeInUp">
                        <div class="header">
                          <img src="assets/img/imgMILUZKA.png" alt="Miluzka Vargas" class="my-image">
                        </div>
                        <div class="body">
                          <h2 class="text-secondary">Content Marketing</h2>
                          <p>Estudiante de Ingeniería de Sistemas de Información | UPC</p>
                          <a href="http://www.linkedin.com/in/miluzka-vargas-inca-a28870239" class="btn btn-primary" target="_blank">LinkedIn</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div> <!-- .container -->
          </div> <!-- .page-section -->
    </section>
    
  
    <footer class="page-footer bg-image">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4 py-4">
            <h3>Bodega Rosita</h3>
            <p>¡Simplifica la gestión de créditos en Bodeguita Rosita con nuestra solución tecnológica!</p>
          </div>
          <div class="col-lg-4 py-4">
            <h5>Sobre Nosotros</h5>
            <ul class="footer-menu">
              <li><a style="color: #898798; cursor: pointer;" (click)="scrollToSection('home')">Inicio</a></li>
              <li><a style="color: #898798; cursor: pointer;" (click)="scrollToSection('objetivos')">Objetivos & Servicios</a></li>
              <li><a style="color: #898798; cursor: pointer;" (click)="scrollToSection('quienes-somos')">Quienes Somos</a></li>
              <li><a style="color: #898798; cursor: pointer;" (click)="scrollToSection('desarrolladores')">Desarrolladores</a></li>
            </ul>
          </div>
          <div class="col-lg-4 py-4">
            <h5>Contáctanos</h5>
            <p>Av. de la Marina 2810, San Miguel 15087, Lima, Perú</p>
            <a href="https://wa.me/945391770" class="footer-link">+51 945 391 770</a> <br>
            <a href="mailto:proyectoxprojectx@gmail.com" class="footer-link">proyectoxprojectx@gmail.com</a>
          </div>
        </div>
      </div>
    </footer>
