  <body>  
    <section id="home">
        <div class="page-section " id="about">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 py-3 wow fadeInUp">
                  <h1 class="title-section">¡Bienvenido a Bodega Rosita!</h1>
                  <div class="divider"></div>
        
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                  <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                  <a class="btn btn-primary mt-3" routerLink="/register">¡REGISTRATE AHORA!</a>
                </div>
                <div class="col-lg-6 py-3 wow fadeInRight">
                  <div class="img-fluid py-3 text-center">
                    <img src="assets/img/homefinanzas.png" alt="Bodega rosita" class="my-image">
                  </div>
                </div>
              </div>
            </div> <!-- .container -->
          </div> <!-- .page-section -->
    </section>

    <section id="objetivos">
        <div class="page-section bg-light">
            <div class="container">
              <div class="text-center wow fadeInUp">
                <h2 class="title-section">Objetivos y Servicios</h2>
                <div class="divider mx-auto"></div>
              </div>
          
                <div class="row">
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                    <div class="features">
                      <div class="header mb-3">
                        <mat-icon class="material-symbols-outlined">emoji_objects</mat-icon>
                      </div>
                      <h5>Objetivo</h5>
                      <p>DESCRIPCION PEQUEÑA</p>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                    <div class="features">
                      <div class="header mb-3">
                        <mat-icon class="material-symbols-outlined">emoji_objects</mat-icon>
                      </div>
                      <h5>Objetivo</h5>
                      <p>DESCRIPCION PEQUEÑA</p>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                    <div class="features">
                      <div class="header mb-3">
                        <mat-icon class="material-symbols-outlined">emoji_objects</mat-icon>
                      </div>
                      <h5>Objetivo</h5>
                      <p>DESCRIPCION PEQUEÑA</p>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                    <div class="features">
                      <div class="header mb-3">
                        <mat-icon class="material-symbols-outlined">emoji_objects</mat-icon>
                      </div>
                      <h5>Objetivo</h5>
                      <p>DESCRIPCION PEQUEÑA</p>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                    <div class="features">
                      <div class="header mb-3">
                        <mat-icon class="material-symbols-outlined">real_estate_agent</mat-icon>
                      </div>
                      <h5>Servicio</h5>
                      <p>DESCRIPCION PEQUEÑA</p>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                    <div class="features">
                      <div class="header mb-3">
                        <mat-icon class="material-symbols-outlined">real_estate_agent</mat-icon>
                      </div>
                      <h5>Servicio</h5>
                      <p>DESCRIPCION PEQUEÑA</p>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                    <div class="features">
                      <div class="header mb-3">
                        <mat-icon class="material-symbols-outlined">real_estate_agent</mat-icon>
                      </div>
                      <h5>Servicio</h5>
                      <p>DESCRIPCION PEQUEÑA</p>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                    <div class="features">
                      <div class="header mb-3">
                        <mat-icon class="material-symbols-outlined">real_estate_agent</mat-icon>
                      </div>
                      <h5>Servicio</h5>
                      <p>DESCRIPCION PEQUEÑA</p>
                    </div>
                  </div>
                </div>
            
            </div> <!-- .container -->
        </div> <!-- .page-section -->
    </section>


    <section id="quienes-somos">
        <!-- Banner info -->
        <div class="page-section banner-info">
            <div class="wrap bg-image" style="background-image: url();">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-6 py-3 pr-lg-5 wow fadeInUp">
                    <h2 class="title-section">¿Quienes somos? <br> </h2>
                    <div class="divider"></div>
                    <p>Somos estudiantes de la Universidad Peruana de Ciencias Aplicadas, de las carreras de Ingeniería de Sistemas de Información e Ingeniería de Software.</p>

                    <ul class="theme-list theme-list-light text-white">
                      <li>
                        <div class="h5">PONER UN PUNTO Y AGREGAR ALGO</div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                      </li>
                      <li>
                        <div class="h5">PONER UN PUNTO Y AGREGAR ALGO</div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-6 py-3 wow fadeInRight">
                    <div class="img-fluid text-center">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- .wrap -->
        </div> <!-- .page-section -->
    </section>
    

    <section id="desarrolladores">
        <div class="page-section">
            <div class="container">
                <div class="text-center wow fadeInUp">
                    <h2 class="title-section">Desarrolladores</h2>
                    <div class="divider mx-auto"></div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card-service wow fadeInUp">
                      <div class="header">
                        <img src="" alt="">
                      </div>
                      <div class="body">
                        <h2 class="text-secondary">SEO Consultancy</h2>
                        <p>We help you define your SEO objective & develop a realistic strategy with you</p>
                        <a href="https://www.linkedin.com/in/camiloadama/" class="btn btn-primary" target="_blank">LinkedIn</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card-service wow fadeInUp">
                      <div class="header">
                        <img src="assets/img/imgCAMILO.png" alt="Camilo Adama" class="my-image">
                      </div>
                      <div class="body">
                        <h2 class="text-secondary">Camilo Adama Alvarado</h2>
                        <p>Desarrollador Guidewire en Softtek | Ingeniería Sistemas de Información | UPC</p>
                        <a href="https://www.linkedin.com/in/camiloadama/" class="btn btn-primary" target="_blank">LinkedIn</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card-service wow fadeInUp">
                      <div class="header">
                        <img src="" alt="">
                      </div>
                      <div class="body">
                        <h2 class="text-secondary">Keyword Research</h2>
                        <p>We help you define your SEO objective & develop a realistic strategy with you</p>
                        <a href="https://www.linkedin.com/in/camiloadama/" class="btn btn-primary" target="_blank">LinkedIn</a>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Row 2-->
                <div class="row">
                    <div class="col-lg-6">
                      <div class="card-service wow fadeInUp">
                        <div class="header">
                          <img src="" alt="">
                        </div>
                        <div class="body">
                          <h2 class="text-secondary">SEO Consultancy</h2>
                          <p>We help you define your SEO objective & develop a realistic strategy with you</p>
                          <a href="https://www.linkedin.com/in/camiloadama/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card-service wow fadeInUp">
                        <div class="header">
                          <img src="" alt="">
                        </div>
                        <div class="body">
                            <img src="" alt="">
                          <h2 class="text-secondary">Content Marketing</h2>
                          <p>We help you define your SEO objective & develop a realistic strategy with you</p>
                          <a href="https://www.linkedin.com/in/camiloadama/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div> <!-- .container -->
          </div> <!-- .page-section -->
    </section>
    
  
    <footer class="page-footer bg-image">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4 py-4">
            <h3>Bodega Rosita</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero amet, repellendus eius blanditiis in iusto eligendi iure.</p>
  
            <div class="social-media-button">
              <a ><span class="mai-logo-facebook-f"></span></a>
              <a ><span class="mai-logo-twitter"></span></a>
              <a ><span class="mai-logo-instagram"></span></a>
              <a ><span class="mai-logo-youtube"></span></a>
            </div>
          </div>
          <div class="col-lg-4 py-4">
            <h5>Sobre Nosotros</h5>
            <ul class="footer-menu">
              <li><a href="#home">Inicio</a></li>
              <li><a href="#objetivos">Objetivos & Servicios</a></li>
              <li><a href="#quienes-somos">Quienes Somos</a></li>
              <li><a href="#desarrolladores">Desarrolladores</a></li>
            </ul>
          </div>
          <div class="col-lg-4 py-4">
            <h5>Contáctanos</h5>
            <p>Av. de la Marina 2810, San Miguel 15087, Lima, Perú</p>
            <a href="https://wa.me/945391770" class="footer-link">+51 945 391 770</a> <br>
            <a href="mailto:proyectoxprojectx@gmail.com" class="footer-link">proyectoxprojectx@gmail.com</a>
          </div>
        </div>
      </div>
    </footer>