<div class="container">
    <h2>Agregar Cliente</h2>
    <form #editForm="ngForm">
      <div>
          <mat-form-field class="full-width">
              <mat-label>Nombres</mat-label>
              <mat-select placeholder="Nombres" name="user" required [(ngModel)]="data.user">
                <mat-option *ngFor="let usuario of usuarios" [value]="usuario">
                  {{ usuario.nombres }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editForm.controls['user']?.errors?.['required']">Nombre es requerido</mat-error>
            </mat-form-field>
  
            <mat-form-field class="full-width">
              <mat-label>Límite de Crédito</mat-label>
              <input matInput 
                     placeholder="Límite de Crédito" 
                     name="limite_credito" 
                     [(ngModel)]="data.limite_credito" 
                     required 
                     type="number" 
                     min="1" />
              <mat-error *ngIf="editForm.controls['limite_credito']?.errors?.['required']">
                Límite de crédito es requerido
              </mat-error>
              <mat-error *ngIf="data.limite_credito <= 0">
                Límite de crédito debe ser un número positivo
              </mat-error>
            </mat-form-field>
            
  
        <mat-form-field class="full-width">
          <mat-label>Fecha de Pago Mensual</mat-label>
          <input matInput 
                 placeholder="Fecha de Pago Mensual" 
                 name="fecha_pago_mensual" 
                 [(ngModel)]="data.fecha_pago_mensual" 
                 required 
                 type="number" 
                 min="1" 
                 max="30" />
          <mat-error *ngIf="data.fecha_pago_mensual < 1 || data.fecha_pago_mensual > 30">
            Fecha de pago mensual debe estar entre 1 y 30
          </mat-error>
        </mat-form-field>
        
  
        <div class="button-container">
          <button mat-button (click)="cerrarDialogo()">Cancelar</button>
          <button mat-button color="primary" [disabled]="editForm.invalid" (click)="confirmado()">Guardar</button>
        </div>
      </div>
    </form>
  </div>
  