/* Ajuste del botón */
.boton {
    margin-bottom: 20px; /* Espacio más grande entre el botón y la tabla */
    margin-top: 20px;
    text-align: center; /* Centrar el botón */
}
/* Ajustes generales */
table {
    border-spacing: 0 10px; /* Espacio entre las filas para un efecto de separación */
    border-collapse: separate; /* Aaaaaasegura que el espacio entre filas se aplique correctamente */
}

th, td {
    padding: 5px; /* Relleno en las celdas */
    text-align: left; /* Alineación del texto a la izquierda */
}

th {
    background-color: #f1f1f1; /* Color de fondo para las celdas de encabezado */
    font-weight: bold; /* Texto en negrita para el encabezado */
}

td {
    background-color: white; /* Color de fondo para las celdas de datos */
}

