.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



/* Ajustes del paginador*/
.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Ajustes generales */
table {
  border-spacing: 0 10px; /* Espacio entre las filas para un efecto de separación */
  border-collapse: separate; /* Asegura que el espacio entre filas se aplique correctamente */
}

th, td {
  padding: 5px; /* Relleno en las celdas */
  text-align: left; /* Alineación del texto a la izquierda */
}

th {
  background-color: white; /* Color de fondo para las celdas de encabezado */
  font-weight: bold; /* Texto en negrita para el encabezado */
}

td {
  background-color: white; /* Color de fondo para las celdas de datos */
}
