h2 {
    text-align: center;
  }
  
  form {
    max-width: auto;
    margin: 0 auto;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .full-width {
    width: 100%;
  }
  

  
  button {
    min-width: 120px;
  }
  
  .container{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }